
html,
body {
  height: 100%;
}



body{
  padding: 0;
  margin: 0%;
  height: 100vh;
  width: 100%;
  background-color: #e9e9e9;
  overflow: hidden;    
}
/*  tabelas tr e td cor e tamanho */ 
.table table-striped{
    background-color: rgb(20, 20, 20);
}

tr{
    border-color: black;
    background-color: #077510e7;
    border: 1px solid rgb(48, 48, 48);
}

td{
    border-color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(48, 48, 48);
    
}
/* parte superior do style*/
.menubar{
    background:  #077510e7;
    width: 100%;
    height: 15vh;
    
}

.circleyellow{
    
    margin-top: -5%;
    margin-left: 526px;
    width: 300px;
    height: 140px;
    
}

/*parte dos inserts*/
.containeralter{
    margin-left: 20px;
    margin-right: 30px;
    background: rgb(180, 180, 180);
    border-radius:3%;
    padding: 2%;
    display: grid;
    border: 2px solid rgb(150, 150, 150);
    display:inline-block;
    
    
}
/* arrumando as margens das tabelas*/
.containerconsulta{
    margin-top: -3%;
    margin-left: 3%;
    
}



.containerconsultavoltar{
    margin-top: 0%;
    margin-left: 3%;
    background-color: #077510e7;
    text-decoration: none;
    

}

.containerconsultavoltar2{
  margin-top: 0%;
  margin-left: 4%;
  background-color: #077510e7;
  text-decoration: none;
  

}


/* css dos inputs*/
input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"]
  {
    
    padding: 4px;
    flex-grow: 1;
    flex-basis: 200;
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    
    color: #555;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: -6px;
    
  }

  input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10%;
    transition: background-color 0.3s ease;
  }
/* buttons no menu*/
  .linkcons{
    margin-right: 95%;
    margin-left: 19px;
    margin-top: -110px;
    border: 1px solid black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .navbar{        /* fazer o navbar */
  display: flex;
  }

  .nav-links1{
    display: flex;
    justify-self:flex-start;
    margin-top: -108px;
    column-gap: 60px;
    margin-left: 110px;
  }


  li {
    list-style-type: none;
  }

  .menu-letters{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;

}


.menu-letters:hover{
  
  color: rgb(180, 180, 180);
}


.menu-letters-adm{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}


.menu-letters-adm:hover{
  
  color: rgb(114, 114, 114);
}


/* ICONES !!! */


/* icon do menu side bar */

.menu-row-top-left{
  height: 24px; 
  width: 30px;
  margin-top: -112px;
  margin-left: 20px;
  position: absolute;  /* pode deixar a imagem atraves ou atras */
}


.menu-row-top-left:hover{
  background-image: url(../icon/menu-row-icon-white.png);
  transition: background-image 0.3s ease;
}


.icon-cart{
  width: 63px;
  height: 40px;
  margin-left: 1150px;
  margin-top: -124px;
  position: absolute;
}

.icon-profile{
  width: 84px;
  height: 50px;
  margin-left: 1250px;
  margin-top: -128px;
  position: absolute;
}





/*  div para as opçoes do administrador */


.adm-div{
  background-color: #d1d1d1;
  height: 20%;
  width: 100%;
  margin-top: -78px;

}

.buttons-adm{
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 20%;
}
/* botões do adm */
.links-adm{
  margin-top: 5%;
  margin-left: 1%;
  position: absolute;
  display: flex;
  row-gap: 100px;
  column-gap: 200px;justify-content: space-between;

}


/*  começo do inicio  */

.part-inicio1{
  background-color: #c5c5c5;
  width: 800px;
  height: 400px;
  border-radius: 16px;
  margin-left: 4%;
  margin-top: 10%;
}

.part-inicio2{
  background-color: #c5c5c5;
  width: 300px;
  height: 400px;
  border-radius: 16px;
  margin-left: 70%;
  margin-top: -400px;
  position: absolute;
  
}